In [24]:
# Importing Libraries
import ast
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Dataset
dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()

df["job_posted_date"] = pd.to_datetime(df.job_posted_date)
df["job_skills"] = df["job_skills"].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [25]:
# Gonna try on my own first ;)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [26]:
df1 = df.copy()
df_exploded = df1.explode("job_skills")
df_exploded["job_posted_month"] = df_exploded["job_posted_date"].dt.strftime("%b")

In [27]:
df_pivot = df_exploded.pivot_table(index = "job_posted_month", columns = ["job_title_short", "job_skills"], aggfunc = "size")
df_pivot

job_title_short  Business Analyst                                             \
job_skills                airflow airtable alteryx angular ansible  apl arch
job_posted_month
Apr                          24.0      2.0   114.0     4.0     5.0  NaN  1.0
Aug                          34.0      NaN   103.0    12.0    15.0  NaN  1.0
Dec                          26.0      NaN    65.0    11.0     6.0  NaN  2.0
Feb                          25.0      3.0    98.0     6.0     7.0  NaN  NaN
Jan                          18.0      1.0   106.0    11.0    14.0  NaN  1.0
Jul                          32.0      2.0    72.0     8.0    16.0  1.0  NaN
Jun                          25.0      1.0    92.0     5.0     5.0  NaN  1.0
Mar                          18.0      1.0    83.0     3.0    20.0  NaN  NaN
May                          27.0      NaN    71.0     4.0     2.0  NaN  1.0
Nov                          29.0      4.0    87.0    12.0     8.0  1.0  2.0
Oct                          37.0      2.0    96.0     6.0     6.0  1.0  5.0
Sep                          23.0      1.0    91.0     5.0    16.0  NaN  3.0

job_title_short                              ... Software Engineer          \
job_skills       asana asp.net asp.net core  ...             webex windows
job_posted_month                             ...
Apr                5.0     6.0          NaN  ...               1.0   248.0
Aug                3.0     3.0          NaN  ...               1.0   327.0
Dec                8.0     3.0          NaN  ...               2.0   224.0
Feb                5.0     5.0          NaN  ...               1.0   226.0
Jan                3.0     3.0          NaN  ...               2.0   295.0
Jul               11.0     3.0          1.0  ...               1.0   244.0
Jun                5.0     2.0          NaN  ...               2.0   114.0
Mar                7.0     1.0          NaN  ...               2.0   219.0
May                3.0     5.0          NaN  ...               NaN   117.0
Nov                6.0     2.0          NaN  ...               3.0   244.0
Oct               10.0     2.0          1.0  ...               1.0   233.0
Sep                5.0     4.0          1.0  ...               1.0   170.0

job_title_short
job_skills       wire   word workfront wrike  wsl xamarin  yarn  zoom
job_posted_month
Apr               2.0  113.0       NaN   NaN  NaN     2.0  17.0  11.0
Aug               3.0   89.0       2.0   1.0  NaN     5.0  12.0  31.0
Dec               2.0   53.0       1.0   NaN  3.0     2.0   5.0  22.0
Feb               3.0   59.0       1.0   NaN  4.0     4.0   9.0  13.0
Jan               5.0   92.0       NaN   NaN  2.0     8.0  15.0  33.0
Jul               7.0   76.0       NaN   NaN  NaN     2.0  16.0  12.0
Jun               3.0   67.0       1.0   2.0  NaN     1.0  16.0  15.0
Mar               3.0   74.0       NaN   NaN  NaN     NaN  18.0  16.0
May               NaN   49.0       NaN   NaN  NaN     NaN   8.0  17.0
Nov               5.0   78.0       NaN   NaN  2.0     5.0   7.0  25.0
Oct               7.0   75.0       NaN   NaN  2.0     NaN  12.0  18.0
Sep               2.0   72.0       1.0   1.0  NaN     6.0  10.0  16.0

[12 rows x 2256 columns]

In [28]:
df_pivot.reset_index(inplace=True)
df_pivot["month_no"] = pd.to_datetime(df_pivot["job_posted_month"], format="%b").dt.month

In [29]:
df_pivot.sort_values(by="month_no", ascending=True, inplace=True)
df_pivot.set_index("job_posted_month",inplace = True)

In [33]:
df_pivot.drop(columns="month_no",inplace=True)

In [34]:
df_pivot

job_title_short  Business Analyst                                             \
job_skills                airflow airtable alteryx angular ansible  apl arch
job_posted_month
Jan                          18.0      1.0   106.0    11.0    14.0  NaN  1.0
Feb                          25.0      3.0    98.0     6.0     7.0  NaN  NaN
Mar                          18.0      1.0    83.0     3.0    20.0  NaN  NaN
Apr                          24.0      2.0   114.0     4.0     5.0  NaN  1.0
May                          27.0      NaN    71.0     4.0     2.0  NaN  1.0
Jun                          25.0      1.0    92.0     5.0     5.0  NaN  1.0
Jul                          32.0      2.0    72.0     8.0    16.0  1.0  NaN
Aug                          34.0      NaN   103.0    12.0    15.0  NaN  1.0
Sep                          23.0      1.0    91.0     5.0    16.0  NaN  3.0
Oct                          37.0      2.0    96.0     6.0     6.0  1.0  5.0
Nov                          29.0      4.0    87.0    12.0     8.0  1.0  2.0
Dec                          26.0      NaN    65.0    11.0     6.0  NaN  2.0

job_title_short                              ... Software Engineer          \
job_skills       asana asp.net asp.net core  ...             webex windows
job_posted_month                             ...
Jan                3.0     3.0          NaN  ...               2.0   295.0
Feb                5.0     5.0          NaN  ...               1.0   226.0
Mar                7.0     1.0          NaN  ...               2.0   219.0
Apr                5.0     6.0          NaN  ...               1.0   248.0
May                3.0     5.0          NaN  ...               NaN   117.0
Jun                5.0     2.0          NaN  ...               2.0   114.0
Jul               11.0     3.0          1.0  ...               1.0   244.0
Aug                3.0     3.0          NaN  ...               1.0   327.0
Sep                5.0     4.0          1.0  ...               1.0   170.0
Oct               10.0     2.0          1.0  ...               1.0   233.0
Nov                6.0     2.0          NaN  ...               3.0   244.0
Dec                8.0     3.0          NaN  ...               2.0   224.0

job_title_short
job_skills       wire   word workfront wrike  wsl xamarin  yarn  zoom
job_posted_month
Jan               5.0   92.0       NaN   NaN  2.0     8.0  15.0  33.0
Feb               3.0   59.0       1.0   NaN  4.0     4.0   9.0  13.0
Mar               3.0   74.0       NaN   NaN  NaN     NaN  18.0  16.0
Apr               2.0  113.0       NaN   NaN  NaN     2.0  17.0  11.0
May               NaN   49.0       NaN   NaN  NaN     NaN   8.0  17.0
Jun               3.0   67.0       1.0   2.0  NaN     1.0  16.0  15.0
Jul               7.0   76.0       NaN   NaN  NaN     2.0  16.0  12.0
Aug               3.0   89.0       2.0   1.0  NaN     5.0  12.0  31.0
Sep               2.0   72.0       1.0   1.0  NaN     6.0  10.0  16.0
Oct               7.0   75.0       NaN   NaN  2.0     NaN  12.0  18.0
Nov               5.0   78.0       NaN   NaN  2.0     5.0   7.0  25.0
Dec               2.0   53.0       1.0   NaN  3.0     2.0   5.0  22.0

[12 rows x 2256 columns]

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Liam McCann\AppData\Local\Temp\ipykernel_15336\1283150645.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  df_pivot.groupby(["job_posted_month"]["job_title_short"]["job_skills"]).size()

TypeError: list indices must be integers or slices, not str